/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/styles/header.component.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.nav-button {
    margin-right: 4px;
}

.nav-button-selected:hover,
.nav-button:hover {
    background-color: var(--ant-primary-color-hover) !important;
    color: white !important;
}
.nav-button:focus,
.nav-button:active {
    background-color: var(--ant-primary-color-active);
    color: white;
}

.nav-button-selected {
    background-color: var(--ant-primary-color-active);
    color: white;
    margin-right: 4px;
}

.nav-avatar {
    background-color: var(--ant-primary-color);
    margin-right: 4px;
}

.divider {
    background-color: black;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/styles/content.component.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.ant-carousel .slick-prev::after {
    color: black;
}

.ant-carousel .slick-next::after {
    color: black;
}

.ant-carousel .slick-dots li button::after {
    color: black;
}

.carousal {
    /*background-color: brown;*/
}

.container {
    display: flex !important;
    justify-content: center;
    background-color: hotpink;
    align-content: center;
}

.container > img {
    height: 500px;
}

